<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This page belongs to @<%= data.name %></h1>
    <p>
        Followers : <%=data.followers  %>. &nbsp; &nbsp; &nbsp; Following : <%=data.following  %>
    </p>
    <hr>
    <%for(let post of data.posts){%>
    <img src="<%=post.image %>" alt="image">
    <p>
        Likes :<%= post.likes %> &nbsp; &nbsp; &nbsp; &nbsp; Comments : <%=post.comments %>
    </p>
<%}%>
</body>
</html>
