<body>
    <link rel="stylesheet" href="style.css" />
    <div class="profile">
        <h1>This page belongs to @<%= data.name %></h1>

        <p class="stats">
            <span><%= data.followers %></span> Followers &nbsp;&nbsp;
            <span><%= data.following %></span> Following
        </p>

        <hr>

        <% for (let post of data.posts) { %>
            <div class="post">
                <img src="<%= post.image %>" alt="post image">
                <p class="post-info">
                    <span><%= post.likes %></span> Likes &nbsp;&nbsp;
                    <span><%= post.comments %></span> Comments
                </p>
            </div>
        <% } %>
    </div>
</body>
